    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
    @font-face {
        font-family: 'rajdhani';
        src: url(../Assets/Police/Rajdhani-Medium.ttf);
    }
    
     :root {
        --yellow-color: #FFFF00;
        --yellow-light: #F8F184;
        --blue-color: #19587D;
        --red-color: #b11313;
        --black-light: #0d0e09;
        --grey: #c4c4c4;
        --black-color: #000;
        --white-color: #fff;
        --gradient-white: rgba(237, 222, 191, 0.4);
        --grandient-red: rgba(137, 0, 8, 0.6);
        --gradient-blue: #19587d;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* Pour enlever les marges et les padding par défaut 
    et ne pas compliquer mes calculs pour le positionnement des différents éléments */
    }
    
    h1 {
        font-family: 'rajdhani';
        font-size: 36px;
        font-weight: 400;
    }
    
    button {
        font-family: 'rajdhani';
        font-size: 20px;
        font-weight: 400;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    body {
        background-color: black;
        color: white;
        font-family: 'space grotesk';
        font-weight: 300;
    }
    
    .bordure-top {
        border-top: 4px solid rgba(188, 187, 189, 0.2);
        position: relative;
        top: 132px;
        width: 85%;
        left: 100px;
    }
    
    .bordure-gauche {
        border-left: 4px solid rgba(188, 187, 189, 0.2);
        /* /!\ Je n'arrive pas à ajouter les contours gauche et droite */
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
                Design de la navigation 
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 250px;
    }
    
    ul {
        list-style: none;
    }
    
    nav ul li a {
        color: var(--white-color);
        font-size: 30px;
        font-weight: 500;
        font-family: 'rajdhani';
        text-decoration: none;
    }
    
    .menu:hover {
        text-decoration: underline;
        font-weight: 700;
    }
    /* Ajout filtre jaune pour que l'image adopte une couleur jaune au survol de souris 
    Vas sur le générateur de filtre https://angel-rs.github.io/css-color-filter-generator */
    
    .filtre-jaune:hover {
        filter: brightness(0) saturate(100%) invert(92%) sepia(93%) saturate(1083%) hue-rotate(360deg) brightness(110%) contrast(102%);
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
                Design de la partie hero header 
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    
    #hero {
        background-image: url(../Assets/Illustrations/Bathome1.png);
        height: 800px;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #19587D;
        /* Au cas où le background prévu ne se charge pas */
        background-size: cover;
    }
    
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 60%;
        /* L'élément va occuper 60% de l'écran et s'aligner à gauche */
        margin: 0 auto;
        /* Pour centrer l'élément */
    }
    /* Quand la classe "titre" a été ajouté au h2
#hero .titre {
    margin: 20px 0;
} */
    
    #il_est_batman {
        margin: 30px 0;
        font-size: 25px;
    }
    
    .btn {
        text-decoration: none;
        color: var(--white-color);
        font-size: 20px;
        padding: 20px 30px;
        margin: 20px;
        background: linear-gradient( 80deg, var(--gradient-white), var(--grandient-red));
        /* Ajout de dégradé.
    Pour ajouter rapidement l'opacité, on peut aller vers les rgb (cf root en haut) */
        box-shadow: var(--black-color) 5px 5px 60px;
        /* 60px ici c'est le "blur" des ombres de 5px ajoutées */
    }
    
    .btn:hover {
        background: linear-gradient(80deg, rgba(237, 222, 191, 1), rgba(137, 0, 8, 1));
        /* Au passage de la souris, l'opacité passe à 100% */
    }
    
    .container .content .cta {
        display: inline flex;
        margin: 0 auto;
    }
    
    #hero .flèche {
        display: block;
        /* Parce que le display est inline par défaut */
        margin: 0 auto;
        /* pour centrer l'élément */
        margin-top: 200px;
    }
    
    .scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 50px;
        /* Position de l'élément par rapport au côté droit */
        top: 250px;
    }
    
    .scroll .social {
        margin-top: 25px;
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
                Design de la section batman-personnages 
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* Dans webinar:
#batman-cinema {
    margin-top: 40px;
}  */
    
    .batman-personnage {
        display: flex;
        justify-content: space-between;
    }
    /* Pour écrire le titre en majuscule
#batman-cinema .titre {
    text-transform: uppercase;
} */
    
    #batman-cinema {
        margin-top: 150px;
    }
    
    .titre {
        text-transform: uppercase;
        margin: 150px 0px 20px 0px;
    }
    
    .description {
        margin-bottom: 45px;
        text-align: justify;
        width: 90%;
        /* largeur de 90% du conteneur */
        font-size: 20px;
    }
    
    .acteurs {
        text-align: center;
        font-family: 'Rajdhani';
        font-size: 18px;
        font-weight: normal;
        margin-top: 25px;
    }
    
    .batman-item:hover {
        transform: scale(1.1);
        /* Zoom de 10% au survol de la souris */
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
                Design de la partie multimédia
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    
    #multimedia button {
        position: relative;
        top: 185px;
        background: none;
        /* Tu pouvais également faire background-color: transparent */
        border: none;
    }
    
    #multimedia button.right {
        /* Pour cibler une balise avec une classe, tu dois coller la balise et la classe pour que ça fonctionne */
        right: -87%;
    }
    
    #multimedia .slider-multimedia {
        display: flex;
        width: 60%;
        max-width: 550px;
        margin: 40px auto;
    }
    
    #multimedia .slider-image {
        width: 100%;
    }
    
    #multimedia .slider-content {
        padding: 15px;
        background-image: linear-gradient(150deg, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
        border-top-right-radius: 15px;
        /* Pour arrondir les angles : border-radius: valeur 
    [valeur en pixel] */
        border-bottom-right-radius: 15px;
    }
    
    #multimedia .slider-content .genre-film {
        font-family: 'space grotesk';
        font-size: 15px;
        padding-bottom: 6px;
    }
    
    #multimedia .slider-content .titre-film {
        font-family: 'rajdhani';
        font-weight: normal;
        padding-bottom: 6px;
    }
    
    #multimedia .slider-content .imdb {
        font-family: 'space grotesk';
        padding-bottom: 6px;
    }
    
    #multimedia .slider-content .note-imdb {
        color: var(--yellow-color);
    }
    
    #multimedia .slider-content .descriptif-film {
        font-family: 'space grotesk';
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
                Design de la partie multimédia
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    
    #contact {
        background-image: linear-gradient(45deg, rgba(196, 196, 196, 0.3), #0d0e09);
        padding: 50px 0;
    }
    
    #contact .form {
        width: 50%;
        margin: 0 auto;
    }
    
    #contact h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    #contact .nom-champ {
        display: block;
        margin: 25px 0;
        font-size: 20px;
    }
    
    #contact .form input[type='email'],
    textarea {
        /* ##### Ciblage par l'input. 
        Séparer par une virgule pour cibler un autre élément ##### */
        display: block;
        /* Pour que le bouton confirmer se mette à la ligne */
        border-top: none;
        border-left: none;
        border-right: none;
        width: 80%;
        border-bottom: 2px solid #c4c4c4;
        background-color: transparent;
        padding: 10px 0;
        color: #c4c4c4;
        font-size: 15px;
    }
    
    #contact .icon img {
        transform: rotate(90deg);
        width: 15px;
    }
    
    #contact .news {
        margin: 25px 0;
        border-bottom: 2px solid #c4c4c4;
        width: 80%;
    }
    
     ::placeholder {
        /* C'est un pseudo-élément */
        color: #eddebf;
    }
    
    .btn-group {
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
    
    .form input[type='radio'] {
        opacity: 0;
    }
    
    .btn-group label {
        cursor: pointer;
        /* pour transformer le curseur en une petite main lors du survol de la souris */
        border: 2px solid;
        padding: 10px 20px;
        border-image: linear-gradient(110deg, #c4c4c4, #19587d) 1;
        font-weight: bold;
    }
    
    input[type='submit'] {
        display: block;
        margin: 25px auto;
        width: 25%;
        padding: 15px 0;
        font-size: 15px;
        color: white;
        cursor: pointer;
        background-image: linear-gradient(90deg, rgba(13, 14, 9, 0.6), rgba(137, 0, 8, 0.8));
    }
    
    #citations {
        margin: 120px;
    }
    
    #citations .citation-carte {
        text-align: center;
        width: 45%;
        margin: 0 auto;
    }
    
    #citations .citation-texte {
        font-size: 15px;
        font-weight: bolder;
    }
    
    #citations .citation-auteur {
        padding-top: 25px;
        font-size: 12px;
    }
    
    #citations .guillemet-close {
        float: right;
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
                Design du footer
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    
    footer {
        margin-top: 230px;
        margin-bottom: 150px;
    }
    
    footer .texte-footer {
        text-align: center;
    }
    
    footer .social-footer {
        text-align: center;
        margin: 25px 0;
    }
    
    footer .social-item {
        padding: 15px;
        text-decoration: none;
    }